.item-page {
    background-color: white;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: calc(100vh - 80px);
    min-height: 500px;
}

.item-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    box-sizing: border-box;
    flex-shrink: 1;
}

.item-info {
    display: flex;
    flex-direction: column;
    letter-spacing: .04em;
    width: 100%;
    max-width: 400px;

}

.item-header {
    display: flex;
    flex-direction: column;
}

.item-name {
    font-weight: 500;
    font-size: 1em;
}

.item-price {
    font-weight: 300;
    margin-top: 0.5em;
    font-size: 0.85em;
}

.item-buttons {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.wishlist-button {aspect-ratio: 1/1;width: 20px; display: flex; display: flex;
padding: 16px; border: 1px solid black; border-radius: 32px;
align-items: center; justify-content: center;}

.wishlist-button svg {width: 90%;}

.item-image-container {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

.retail {text-decoration: line-through; margin-left: 0.5em; color: #575757;}
.current-price { color: rgb(218, 0, 0); }

.cart-button {
    padding: 12px;
    border-radius: 32px;
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.9em;
}

.item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    border: none;
    outline: none;
}

@media (hover){
    .wishlist-button:hover {
        background-color: black;
        fill: white;
    }
}