body {
  margin: 0;
  font-family: Elza;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

a {font-family: inherit; text-decoration: none;
color: inherit; fill: inherit;}

input {background-color: transparent; color: inherit; font-family: inherit;
outline: none; border: none;}

.content {
  background-color: #fff;
  position: relative;
  z-index: 1;
}

#root {display: flex; flex-direction: column;}
